@import '@fontsource/ibm-plex-sans/400.css';
@import '@fontsource/ibm-plex-sans/500.css';
@import '@fontsource/ibm-plex-sans/600.css';
@import '@fontsource/ibm-plex-sans/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white text-neutral-black antialiased;
    }
    
    .font-display {
        letter-spacing: -0.02em;
    }

    /* Menghilangkan panah atas/bawah pada input number di halaman budget */
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
}